<form action="" method="POST"enctype="multipart/form-data">
    {% csrf_token %}
  <table>
    <h1>Details</h1>

    <body background="../static/img1.jpg">   
    

    <tr>
    <td>Name</td>
    <td><input type="text" name="name" value="{{d.1}}"required></td>
    </tr>

    <tr>
    <td>Age</td>
    <td><input type="text"  name="age" value="{{d.2}}" required></td>
    </tr>

   

    <tr>
    <td><b>Location</b></td>
    <td><input type="text"  name="location" value="{{d.3}}" required></td>
    </tr>
    
   
    <tr>
    <td><b>Email</b></td>
    <td><input type="text"  name="email" value="{{d.4}}"required></td>
    </tr>

    <tr>
    <td><b>Username</b></td>
    <td><input type="text"  name="username" value="{{d.5}}"required></td>
    </tr>

    
    <tr>
    <td><b>profile photo</b></td>
    <td><input type="file"  name="photo"value="{{d.6}}" required></td> 
    </tr>
</table>
</form>